modules = ["nodejs-20", "bash", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Run dev server"

[[workflows.workflow]]
name = "Run dev server"
author = 42870884
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8082
externalPort = 80
